//
//  DropBoxKeys.xcconfig
//  MobileOrg
//
//  Copy this file to DropBoxKeys.xcconfig and add the correct keys. 
//  Do not use quotation marks or constrant string notation (@)
//

APP_KEY = <put key here>;
APP_SECRET = <put secret here>;